@import "styles.scss";

#dashboard {
  @media (--breakpoint-20) {
    display: flex;
  }
}

.aside {
  background: var(--color-neutral-10);

  @media (--breakpoint-20) {
    overflow-y: auto;
    flex: 0 0 16rem;
    -webkit-overflow-scrolling: touch;
  }
}
.main {
  @media (--breakpoint-20) {
    overflow-y: auto;
    flex: auto;
    -webkit-overflow-scrolling: touch;
  }
}

nav, .subnav {
  list-style: none;
  margin-bottom: var(--spacing);
  padding: 0 2% 0 2%;
  background: var(--color-neutral-10);

  & li { padding: 0 2% 0 2%; }
  & li:last-child a { border: 0; }

  & a {
    display: block;
    padding: 0.5rem 0;
    color: var(--color-neutral-50);
    font-size: var(--font-size-40);

    &:hover {
      color: var(--color-neutral-90);
    }
  }
  & a.active {
    font-weight: bold;
  }
}

nav li { display: inline-block; }

#presentations, #presentation {
  & .list li {
    display: flex;
    padding: 1rem 0 1rem 0;
    border-bottom: 2px solid #ccc;
    list-style-type: none;
    position: relative;
    &:last-child {
      border-bottom: none;
    }
    & canvas {
      height: 100px;
      border: 1px solid #ccc;
      margin-right: 10px;
      &.active {
        border: 2px solid #ff5555;
      }
    }
    & .actions {
      position: absolute;
      top: 25px;
      right: -7px;
      & a {
        padding: 3px;
      }
    }
    & .info {
      & .title {
        font-size: var(--font-size-40);
      }
      & .action {

      }
      & .meta {

      }
    }
  }
}
